.button {
  position: relative;
  top: 0;
  display: inline-block;
  margin: 0 auto;
  padding: 1em 3em;
  border-radius: 10px;
  text-align: center;
  line-height: 1.25em;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s ease !important;
  text-decoration: none;

  &--primary {
    color: map-get($theme-colors, "primaryLight");
    background-color: transparent;
    border: 1px solid #007ac1;

    &:hover {
      text-decoration: none;
      color: $white;
      background-color: map-get($theme-colors, "primaryLight");
    }
  }

  &--secondary {
    border: 1px solid #dedede;
    color: map-get($theme-colors, "lightGrey");
    background-color: #dedede;
  }

  &:hover {
    background-color: map-get($theme-colors, "lightGrey");
  }
}
