.info-slider {
  background-color: #dedede;
  padding-bottom: 6em;

  h2 {
    font-size: 1.5em;
    font-weight: 300 !important;
    color: map-get($theme-colors, "secondaryLight");
  }

  h3 {
    font-size: 3.25em;
    font-weight: 700 !important;
    color: map-get($theme-colors, "primary");

    @include media-breakpoint-down(md) {
      font-size: 2.25em;
    }
  }

  p {
    padding-right: 10em;
    line-height: 2.5em;

    @include media-breakpoint-down(sm) {
      padding-right: 0 !important;
    }
  }

  img {
    border-radius: 20px !important;
    max-width: 80%;
  }
}
