.page-hero {
  padding: rem(70) 0;
  overflow: hidden;

  &__background {
    height: 300px;
  }

  &__content-wrapper {
    h1 {
      font-size: 3em;
      color: #fff !important;
    }

    h2 {
      line-height: 1.5em;
      font-weight: 300 !important;
      font-size: 1.25em;
      color: #fff !important;
    }
  }
}
