.recent-post-cards {
  background: $white;

  a {
    color: map-get($theme-colors, "primaryLight");
    text-decoration: none;

    &:hover {
      color: map-get($theme-colors, "primary");
    }
  }

  a h3 {
    font-size: 1.5em;
    font-weight: 700 !important;
    color: map-get($theme-colors, "primaryLight");
    text-decoration: none !important;

    &:hover {
      color: map-get($theme-colors, "primary");
    }
  }

  .card {
    border-radius: 20px;
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .card-img-top {
      border-radius: 20px 20px 0 0;
    }
  }
}
