.satisfaction {
  background-color: map-get($theme-colors, "primaryLight");
  color: $white;

  h2 {
    font-size: 3.25em;
    color: $white !important;

    @include media-breakpoint-down(md) {
      font-size: 2.25em;
    }
  }

  h3 {
    color: $white !important;
  }

  img {
    max-width: 30%;
  }
}
