.services-fifty-fifty {
  h2 {
    color: map-get($theme-colors, "primary");
    font-size: 3em;
    line-height: 1.25em;

    @include media-breakpoint-down(sm) {
      font-size: 2em;
      line-height: 1.25em;
    }
  }

  h3 {
    color: map-get($theme-colors, "secondaryLight");
    font-size: 1.25em;
  }
}
