.three-col {
  display: block;

  h2 {
    font-size: 1.5em;
    font-weight: 300 !important;
    color: map-get($theme-colors, "secondaryLight");
  }

  h3 {
    font-size: 3.25em;
    font-weight: 700 !important;
    color: map-get($theme-colors, "primary");
  }

  .card {
    border: 2px solid #000;
    border-radius: 20px;

    h4 {
      color: $black;
      font-weight: 700 !important;
      line-height: 1.5em;
      font-size: 2em;
    }

    .card-footer {
      background-color: transparent;
      border-top: none;
    }
  }
}
