/** Hamburger icon */
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 35px;
$hamburger-layer-height: 5px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-color: $primary;
$hamburger-types: (spin);
