.banner .nav li {
  @extend .nav-item;
}

.navbar {
  background-color: map-get($theme-colors, "offwhite");
}

.navbar-brand {
  color: map-get($theme-colors, "primary");

  img {
    max-width: 50%;

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }

  &:hover {
    color: map-get($theme-colors, "secondary");
  }
}

.banner .nav a {
  @extend .nav-link;

  color: map-get($theme-colors, "offWhite");

  &:hover {
    color: map-get($theme-colors, "secondary");
  }
}

.navbar-toggler {
  border: 1.5px solid #c8c8c9;
  border-radius: 5px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(90, 98, 101, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (max-width: 992px) {
  .navbar-collapse {
    position: fixed;
    top: 50px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 75%;
    height: 100%;
  }

  .navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
  }
}
