.header {
  width: 100%;
  background-color: $white;
  position: fixed;
  top: 0;
  z-index: 9999;

  &__row {
    position: relative;
    z-index: 99999;
    background-color: $white;
    padding: 24px;
  }

  .navbar-brand {
    color: map-get($theme-colors, "primary");
    max-width: 100%;

    &:hover {
      color: map-get($theme-colors, "secondary");
    }

    img {
      max-width: 100%;
    }
  }

  .button {
    padding: 0.75em 2em;
    margin: 0;
  }

  .nav {
    a {
      @extend .nav-link;
    }

    ul {
      list-style-type: none;
    }

    li {
      @extend .nav-item;

      margin-bottom: 0;

      a {
        padding: 0 10px;
        line-height: 1.28;
        text-transform: uppercase;
        color: map-get($theme-colors, "primary");
        transition: all 0.3s ease-in-out;

        &:hover {
          color: map-get($theme-colors, "primaryLight");
        }
      }

      &:first-of-type {
        a {
          padding-left: 0;
        }
      }
    }
  }

  .sub-menu {
    list-style: none !important;
    position: absolute;
    display: none;

    @include media-breakpoint-down(md) {
      position: relative;
    }
  }

  .nav .sub-menu li {
    width: auto;
    margin-left: -33px;
    background-color: $white;
    border-color: $white;
    padding: 8px;
    text-align: left;

    a {
      padding-left: 0;
    }
  }

  .nav li:hover > ul.sub-menu {
    display: block;
    margin: 0;
    padding-top: 10px;

    @include media-breakpoint-down(md) {
      position: relative;
    }
  }

  .hamburger {
    outline: none;

    &:hover {
      opacity: 1;
    }
  }

  [data-pushbar-id].opened {
    display: block;
    transform: translateX(0) translateY(85px) !important;
  }

  .mobile-header {
    &__menu-wrap {
      .nav {
        li {
          margin-bottom: 0;

          a {
            padding: 20px 0;
            line-height: 1.22;
            text-transform: uppercase;
            color: map-get($theme-colors, "primary");
          }

          &:first-of-type {
            a {
              padding-top: 0;
            }
          }

          &:last-of-type {
            a {
              padding-bottom: 0;
            }
          }
        }
      }
    }

    &__header-links {
      .button {
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }
    }
  }
}
