.careers {
  .header {
    padding: rem(70) 0;
    color: $white;

    &__background {
      height: 300px;
    }

    h1 {
      font-size: 3em;
      color: $white !important;
    }

    h2 {
      line-height: 1.5em;
      font-weight: 300 !important;
      font-size: 3.25em;
      color: $white !important;
    }

    p {
      color: #fff;
    }
  }

  .job_openings {
    .filter {
      display: flex;
      gap: 28px;
      align-items: center;
      border: none;
      border-radius: 20px;

      @media screen and (max-width: 768px) {
        flex-flow: column;
      }

      h3 {
        size: 32px;
        color: #002d5a;
        font-weight: 600 !important;
        padding-bottom: 0;
        margin-bottom: 0;
      }

      select {
        background: #ededed;
        padding: 14px 25px;
        border: none;
        border-radius: 10px;
        font-size: 18px;
        color: #5a6265;
      }

      option {
        font-size: 18px;
        color: #5a6265;
      }
    }

    .jobs {
      h3 {
        font-size: 22px;
        color: #002d5a;
        font-weight: 600 !important;
        padding-bottom: 0;
        margin-bottom: 0;
      }

      .job_btn {
        position: relative;
        background: #007ac1;
        color: #fff;
        width: 133px;
        padding: 10px 22px;
        text-align: center;
        border-radius: 10px;
        justify-self: end;

        @media screen and (max-width: 480px) {
          justify-self: center;
        }

        &:hover {
          border: 1px solid #007ac1;
          color: #007ac1;
          background: #fff;
        }

        a {
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          z-index: 1;
        }
      }
    }
  }

  .our_culture {
    display: block;

    h2 {
      font-size: 3.25em;
      font-weight: 700 !important;
      color: #123655;
    }

    h4 {
      color: #798445;
      font-weight: 700 !important;
      line-height: 1.5em;
      font-size: 2em;
    }

    .values {
      h4 {
        font-style: italic;
      }
    }
  }

  .experts {
    .experts_header {
      h2 {
        font-weight: 700 !important;
        color: #123655;
        font-size: 3.25em;
      }

      p {
        font-size: 18px;
        color: #798445;
      }
    }

    .photo {
      position: relative;
      margin: 20px auto;
      padding: 0;
    }

    .photo img {
      width: 100%;
    }

    .overlay {
      visibility: none;
      opacity: 0;
      transition: opacity 0.3s;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      text-align: left;
      padding-top: 15%;
      padding-left: 10%;
      background-color: #798445e0;
      color: white;
    }

    .photo:hover .overlay {
      visibility: visible;
      opacity: 1;
      overflow: hidden;
    }

    .name {
      margin-bottom: 20%;

      span {
        font-weight: 600 !important;
        font-size: 26px;
      }
    }
  }
}
