.careers {
  margin-top: 61px;

  h1 {
    font-size: 66px;
  }

  h2 {
    font-size: 70px;
    color: #123655;
  }

  p {
    font-size: 26px;
  }

  .header {
    padding: 110px 0 41px;

    h1 {
      color: #fff;
    }

    p {
      color: #fff;
    }
  }

  .job_openings {
    margin: 100px 0;

    .filter {
      display: flex;
      gap: 28px;
      align-items: center;
      border: none;
      border-radius: 20px;

      @media screen and (max-width: 768px) {
        flex-flow: column;
      }

      h3 {
        size: 42px;
        color: #002d5a;
        font-weight: 600 !important;
      }

      select {
        background: #ededed;
        padding: 14px 25px;
        border: none;
        border-radius: 10px;
        font-size: 26px;
        color: #5a6265;
      }

      option {
        font-size: 26px;
        color: #5a6265;
      }
    }

    .jobs {
      padding-top: 100px;
      align-items: center;

      @media screen and (max-width: 480px) {
        text-align: center;
        padding-top: 50px;
      }

      .job {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        margin: 20px 0;

        @media screen and (max-width: 480px) {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          align-items: center;
          margin: 20px 0;
          place-items: center;
        }
      }

      .job_btn {
        position: relative;
        background: #007ac1;
        color: #fff;
        width: 133px;
        padding: 22px 22px;
        text-align: center;
        border-radius: 10px;
        justify-self: end;

        @media screen and (max-width: 480px) {
          justify-self: center;
        }

        &:hover {
          border: 1px solid #007ac1;
          color: #007ac1;
          background: #fff;
        }

        a {
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;
          z-index: 1;
        }
      }
    }
  }

  .our_culture {
    display: block;
    padding: 100px 0;

    h2 {
      font-size: 70px;
      color: #123655;
      text-align: center;
    }

    h4 {
      font-size: 48px;
      color: #798445;
    }

    .values {
      padding: 100px 0 25px;

      h4 {
        padding-bottom: 60px;
        font-style: italic;
      }

      .value {
        display: block;

        div {
          padding-bottom: 70px;
        }
      }
    }
  }

  .experts {
    .experts_header {
      margin-bottom: 96px;
      text-align: center;

      h2 {
        padding-bottom: 44px;
      }

      p {
        font-size: 28px;
        color: #798445;
      }
    }

    .experts_photos {
      .photo {
        position: relative;
        margin: 20px 22px;
        padding: 0;

        &:first-of-type {
          margin: 20px 22px 20px 0;
        }

        &:last-of-type {
          margin: 20px 0 20px 22px;
        }
      }

      .photo img {
        width: 100%;
      }

      .overlay {
        visibility: none;
        opacity: 0;
        transition: opacity 0.3s;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: left;
        padding-top: 15%;
        padding-left: 10%;
        background-color: #798445e0;
        color: white;
      }

      .photo:hover .overlay {
        visibility: visible;
        opacity: 1;
      }

      .name {
        margin-bottom: 20%;

        span {
          font-weight: 600 !important;
          font-size: 26px;
        }
      }
    }
  }
}
