.contactus {
  .contact-header {
    padding: rem(70) 0;
    color: $white;

    &__background {
      height: 300px;
    }

    h1 {
      font-size: 3em;
      color: $white !important;
    }

    h2 {
      line-height: 1.5em;
      font-weight: 300 !important;
      font-size: 1.25em;
      color: $white !important;
    }

    p {
      color: #fff;
    }
  }

  .form-section {
    max-width: 1400px;
    margin: auto;

    img {
      border-radius: 20px;
      max-width: 100%;
      margin: auto;
    }

    h2 {
      color: #002d5a;
    }

    p {
      color: #5a6265;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    // Form styling
    .gform_wrapper.gravity-theme .gfield_label {
      visibility: hidden;
    }

    .gform_wrapper.gravity-theme input {
      border-radius: 10px;
      border: 1px solid #000;
    }

    /* Chrome/Opera/Safari */
    .gform_wrapper.gravity-theme input::-webkit-input-placeholder {
      color: #000;
    }

    /* Firefox 19+ */
    .gform_wrapper.gravity-theme input::-moz-placeholder {
      color: #000;
    }

    /* IE 10+ */
    .gform_wrapper.gravity-theme input:-ms-input-placeholder {
      color: #000;
    }

    /* Firefox 18- */
    .gform_wrapper.gravity-theme input:-moz-placeholder {
      color: #000;
    }

    .gform_wrapper.gravity-theme .gform_fields {
      grid-row-gap: 0;
    }

    .gform_wrapper.gravity-theme .gfield textarea {
      border-radius: 10px;
      border: 1px solid #000;
    }

    .gform_wrapper.gravity-theme .gfield textarea::-webkit-input-placeholder {
      color: #000;
    }

    /* Firefox 19+ */
    .services-hero .gform_wrapper.gravity-theme textarea::-moz-placeholder {
      color: #000;
    }

    /* IE 10+ */
    .services-hero .gform_wrapper.gravity-theme textarea::-ms-input-placeholder {
      color: #000;
    }

    .gform_wrapper.gravity-theme .gform_footer input#gform_submit_button_2.gform_button.button {
      position: relative;
      top: 0;
      display: inline-block;
      margin: 0 auto;
      padding: 1em 3em;
      border-radius: 10px;
      text-align: center;
      line-height: 1.25em;
      font-size: 1em;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.2s ease !important;
      text-decoration: none;
      color: map-get($theme-colors, "primaryLight");
      background-color: transparent;
      border: 1px solid #007ac1;

      &:hover {
        text-decoration: none;
        color: $white;
        background-color: map-get($theme-colors, "primaryLight");
      }
    }
  }

  .connect {
    img {
      margin: auto 10px;
      height: 20px;
    }

    p {
      margin-bottom: 0;
    }
  }

  .reviews {
    background: linear-gradient(90deg, #798445 50%, #fff 50%);

    h2 {
      color: #fff;
    }

    .title {
      padding-left: 140px;
    }

    .btn {
      position: relative;
      border: 2px solid #fff;
      border-radius: 20px;
      padding: 22px 23px;
      color: #fff;

      &:hover {
        color: #798445;
        background: #fff;
      }

      span {
        font-size: 21px;
        font-weight: 600;
      }

      a {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 1;
      }
    }

    .slick-slide {
      max-width: 300px;
      width: 100% !important;
      margin: auto;
      display: inline-flex;
    }

    .review {
      padding: 15px 10px;
      border-radius: 20px;
      border: 1px solid #faf7f7;
      background: #fff;

      p {
        font-size: 25px;
        color: #808080;
      }

      p.name {
        color: #5a6265;
      }
    }
  }

  .blog_insights {
    padding: 103px 140px 146px;

    h2 {
      text-align: center;
    }

    .blog_posts {
      display: flex;
      gap: 41px;
      padding-top: 109px;

      .blog_post {
        display: block;
        height: 699px;
        width: 520px;
        position: relative;
        border: 1px solid #a191911c;
        border-radius: 20px;

        img {
          width: 100%;
          height: 315px;
          border-radius: 20px 20px 0 0;
        }

        p {
          font-size: 25px;
          color: #808080;
        }

        .blog_content {
          padding: 24px 32px 37px 23px;

          a.title {
            font-size: 36px;
            color: #007ac1;
            padding: 22px 0;
          }
        }

        .title {
          font-size: 36px;
          color: #007ac1;
        }

        .category {
          font-size: 18px;
          color: #49522b;
        }

        .readmore {
          position: absolute;
          bottom: 32px;
          margin-left: 23px;
        }
      }

      .slick-prev {
        &::before {
          content: url("http://127.0.0.1:8084/stantam/wp-content/uploads/2022/07/np_chevron_1528.svg") !important;
        }
      }

      .slick-next {
        &::before {
          content: "→";
        }
      }
    }
  }

  .contactus .footer {
    background-color: #123655;
    color: map-get($theme-colors, "offWhite");

    h2 {
      font-size: 1.5em;
    }

    hr {
      max-width: 40%;
      border: 1px solid #6e793c;
      margin-left: 0;
    }

    .social-icons a img {
      max-height: 80%;
      padding: 10px;
    }

    .footer .social-icons a img {
      transition: 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    a {
      color: $white;
      text-decoration: none;

      &:hover {
        color: map-get($theme-colors, "primaryLight");
      }
    }

    .menu-footer_nav_left_1-container {
      ul {
        display: block;

        li {
          padding-bottom: 10px;
        }
      }
    }

    .menu-footer_nav_left_2-container {
      ul {
        display: block;

        li {
          padding-bottom: 10px;
        }
      }
    }

    .menu-footer_nav_middle_1-container {
      ul {
        display: block;

        li {
          padding-bottom: 10px;
        }
      }
    }

    .menu-footer_nav_middle_2-container {
      ul {
        display: block;

        li {
          padding-bottom: 10px;
        }
      }
    }

    .menu-footer_nav_right_1-container {
      ul {
        display: block;

        li {
          padding-bottom: 10px;
        }
      }
    }

    .menu-footer_nav_right_2-container {
      ul {
        display: block;

        li {
          padding-bottom: 10px;
        }
      }
    }
  }
}
