.erc {
  margin-top: 67px;

  h1 {
    font-size: 66px;
    color: #49522b;
    padding-bottom: 25px;
  }

  h2 {
    font-size: 40px;
    color: #49522b;
    padding-bottom: 32px;
    text-align: center;
  }

  p {
    font-size: 26px;
    color: #5a6265;
  }

  span {
    font-size: 16px;
    color: #007ac1;
  }

  .content {
    padding: 62px 0 79px;
  }

  .topic_list {
    margin: 20px 0;
    font-size: 26px;

    a {
      color: #007ac1;
    }
  }

  .topic {
    margin-bottom: 60px;
  }

  .banner {
    max-width: 100%;
    padding: 25px 140px 45px;
    margin-bottom: 35px;

    h3 {
      font-size: 70px;
      font-weight: 600;
      color: #f5f5f5;
      padding-bottom: 57px;
    }

    .btn {
      position: relative;
      padding: 22px 64px;
      border: 2px solid #f5f5f5;
      border-radius: 20px;
      color: #f5f5f5;

      &:hover {
        background: #49522b;
      }

      span {
        font-size: 21px;
        font-weight: 600;
        color: #f5f5f5;
      }

      a {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 1;
      }
    }
  }

  .contact_form {
    background: #f5f5f5;
    padding: 57px 0 76px;

    h2 {
      color: #002d5a;
    }

    .gfield_label {
      display: none !important;

      input {
        border-radius: 10px;
        border: 1px solid #eaeaea;
      }
    }

    label {
      display: none !important;
    }

    .ginput_container {
      margin-bottom: 48px;
    }

    .gform_footer {
      input {
        border: 2px solid #006fb9;
        color: #006fb9;

        &:hover {
          color: #fff;
          background: #006fb9;
        }
      }
    }
  }

  .newsletter_form {
    background: #007ac1;
    padding: 50px 0;

    h2 {
      font-size: 54px;
      color: #fff;
    }

    .form {
      label {
        display: none !important;
      }

      #gform_3 {
        display: flex;
        gap: 20px;
        place-content: center;

        .gform_body {
          place-self: center;
          width: 70%;
          padding: 25px 10px;
        }

        #input_3_3 {
          width: 100%;
          min-height: 62px;
          border-radius: 10px;
          border: none;
        }
      }

      .gform_footer {
        input {
          border: 2px solid #fff;
          color: #fff;
          background: transparent;
          min-height: 66px;

          &:hover {
            color: #007ac1;
            background: #fff;
          }
        }
      }
    }
  }
}
